<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.tse.pr">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />


    <application
        android:name=".WWApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity
            android:name=".ui.web.WebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/window_translucent"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.SplashActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.my.MyActivity"
            android:theme="@style/window_translucent" />
        <activity
            android:name=".ui.my.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/window_translucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.my.MyCollectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/window_translucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.my.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/window_translucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.my.FeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/window_translucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.news.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/window_translucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.topic.AddTopicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/window_translucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".ui.topic.TopicDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/window_translucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="cn.finalteam.rxgalleryfinal.ui.activity.MediaActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tencent.smtt.sdk.VideoActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106028103" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <data android:scheme="tencent1106028103" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
    </application>

</manifest>